<a href="https://colab.research.google.com/github/pchodon/Amegashita/blob/Article/basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [63]:
import multiprocessing
import time
from csv import reader
from google.colab import files
import pandas as pd
import threading
import os
import tensorflow as tf
import numpy as np
import sys
import matplotlib.pyplot as plt
  
data = []
with open('/content/drive/MyDrive/Bias_correction_ucl.csv', 'r',encoding="ISO-8859-1") as data:
  df_weather = pd.read_csv(data, parse_dates=["Date"])

  result = (df_weather.resample('D',on='Date').mean())
  df = pd.read_csv("/content/drive/MyDrive/Bias_correction_ucl.csv", usecols = ['station'])

frames = [df, df_weather]
  
result = pd.concat(frames)
display(result)

    station       Date  Present_Tmax  Present_Tmin
0         1        NaT           NaN            NaN
1         2        NaT           NaN            NaN
2         3        NaT           NaN            NaN
3         4        NaT           NaN            NaN
4         5        NaT           NaN            NaN
..      ...        ...           ...            ...
43       21 2013-06-30          32.0           23.6
44       22 2013-06-30          32.2           23.9
45       23 2013-06-30          32.7           24.4
46       24 2013-06-30          31.5           25.0
47       25 2013-06-30          32.5           24.2

[96 rows x 4 columns]